<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.intel.crashreport"
	android:sharedUserId="android.uid.system">
	<!-- GCM requires Android SDK version 2.2 (API level 8) or above. -->
    <!-- The targetSdkVersion is optional, but it's always a good practice
         to target higher versions. -->
    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="16"/>

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!--
     Creates a custom permission so only this app can receive its messages.

     NOTE: the permission *must* be called PACKAGE.permission.C2D_MESSAGE,
           where PACKAGE is the application's package name.
    -->
    <permission
        android:name="com.intel.crashreport.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="com.intel.crashreport.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE" />


	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
	<uses-permission android:name="android.permission.CHANGE_CONFIGURATION"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:versionName="@string/app_version"
		android:name=".CrashReport"
		android:enabled="true">

		<uses-library android:name="com.google.gson" />
		<uses-library android:name="crashparsing" />
		<activity
			android:name=".specific.CrashReportActivity"
			android:label="@string/label" />

		<activity
			android:name=".specific.CrashReportHome"
			android:label="@string/label" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<receiver
			android:name="com.intel.crashreport.specific.NotificationReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.DROPBOX_ENTRY_ADDED" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.intel.crashreport.intent.CRASH_LOGS_COPY_FINISHED" />
				<category android:name="android.intent.category.ALTERNATIVE" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE"></action>
			</intent-filter>
			<intent-filter>
				<action android:name="com.intel.crashreport.intent.ALARM_NOTIFY" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.intel.crashreport.intent.CRASH_NOTIFY" />
				<category android:name="android.intent.category.ALTERNATIVE" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.intel.crashreport.intent.RELAUNCH_SERVICE" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.intel.crashreport.intent.START_CRASHREPORT" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.intel.crashreport.intent.MARK_AS_READ" />
			</intent-filter>
		</receiver>

		<receiver
			android:name=".NetworkStateReceiver" android:enabled="false">
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE"></action>
			</intent-filter>
		</receiver>

		<receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.intel.crashreport" />
            </intent-filter>
        </receiver>
             <!--
          Application-specific subclass of GCMBaseIntentService that will
          handle received messages.

          By default, it must be named .GCMIntentService, unless the
          application uses a custom BroadcastReceiver that redefines its name.
        -->
        <service android:name=".GCMIntentService" />

		<service android:name=".CrashReportService">
			<intent-filter>
				<action android:name="com.intel.crashreport.CrashReportService"></action>
			</intent-filter>
		</service>

		<service android:name=".specific.PhoneInspectorService">
			<intent-filter>
				<action android:name="com.intel.crashreport.specific.PhoneInspectorService"></action>
			</intent-filter>
		</service>

		<activity android:name="StartServiceActivity"
		    android:launchMode="singleTop">
			<intent-filter>
				<action android:name="com.intel.crashreport.intent.START_SERVICE"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>

		<service android:name="com.intel.crashreport.specific.CheckEventsService">
			<intent-filter>
				<action android:name="com.intel.crashreport.specific.CheckEventsService"></action>
			</intent-filter>
		</service>

		<activity android:name="NotifyEventActivity"/>

		<!-- LogConfig -->
		<activity android:name=".logconfig.ui.LogConfigHomeActivity"/>
		<activity android:name=".logconfig.ui.LogConfigDisplaySettingsActivity"/>

		<receiver android:name=".logconfig.BootConfigServiceReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		<service android:name=".logconfig.BootConfigService" />
		<service android:name=".logconfig.ConfigService" />


        <activity android:name=".bugzilla.ui.common.BugzillaMainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="image/bmp" />
                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/gif" />
                <data android:mimeType="image/png" />
            </intent-filter>
        </activity>
        <activity android:name=".bugzilla.ui.common.BugzillaSummaryActivity" />
        <activity android:name=".bugzilla.ui.common.UserInformationsActivity" />
        <activity android:name=".bugzilla.ui.common.ListBugzillaActivity" />
        <activity android:name=".specific.UploadAplogActivity" />

        <!-- Declare dedicated receivers to catch events from other applications -->
        <receiver android:name=".receivers.KratosSessionInfoReceiver" >
            <intent-filter >
                <action android:name="intel.intent.action.kratos.SESSION_INFO" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.InfoErrorEventReceiver" >
            <intent-filter >
                <action android:name="intel.intent.action.phonedoctor.REPORT_INFO" />
                <action android:name="intel.intent.action.phonedoctor.REPORT_ERROR" />
                <action android:name="intel.intent.action.phonedoctor.REPORT_STATS" />
            </intent-filter>
        </receiver>

        <service android:name=".receivers.EventReceiverService" />

        <activity android:name="ListGcmMessagesActivity"
		    android:launchMode="singleTop" />

    </application>
</manifest>
