<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.intel.crashreport"
	android:sharedUserId="android.uid.system">

	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>

	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:name=".CrashReport"
		android:enabled="true">

		<uses-library android:name="com.google.gson" />
		<uses-library android:name="crashparsing" />
		<activity
			android:name=".CrashReportActivity"
			android:label="@string/label" />

		<activity
			android:name=".CrashReportHome"
			android:label="@string/label" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<receiver
			android:name=".NotificationReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.net.conn.BACKGROUND_DATA_SETTING_CHANGED"></action>
			</intent-filter>
			<intent-filter>
				<action android:name="com.intel.crashreport.intent.CRASH_NOTIFY" />
				<category android:name="android.intent.category.ALTERNATIVE" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.intel.crashreport.intent.ALARM_NOTIFY" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.intel.crashreport.intent.CRASH_LOGS_COPY_FINISHED" />
				<category android:name="android.intent.category.ALTERNATIVE" />
			</intent-filter>
		</receiver>

		<receiver
			android:name=".NetworkStateReceiver" android:enabled="false">
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE"></action>
			</intent-filter>
		</receiver>

		<service android:name=".CrashReportService">
			<intent-filter>
				<action android:name="com.intel.crashreport.CrashReportService"></action>
			</intent-filter>
		</service>

		<activity android:name="StartServiceActivity">
			<intent-filter>
				<action android:name="com.intel.crashreport.intent.START_SERVICE"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>

		<activity android:name="NotifyEventActivity"/>

		<!-- LogConfig -->
		<activity android:name=".logconfig.ui.LogConfigHomeActivity"/>
		<activity android:name=".logconfig.ui.LogConfigDisplaySettingsActivity"/>

		<receiver android:name=".logconfig.BootConfigServiceReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		<service android:name=".logconfig.BootConfigService" />
		<service android:name=".logconfig.ConfigService" />


        <activity android:name=".bugzilla.ui.BugzillaMainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.APP_GALLERY" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="vnd.android.cursor.dir/image" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/image" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.android.camera.action.REVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="image/bmp" />
                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/gif" />
                <data android:mimeType="image/png" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CHOOSER" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/image" />
            </intent-filter>
        </activity>
        <activity android:name=".bugzilla.ui.BugzillaSummaryActivity" />
        <activity android:name=".bugzilla.ui.UserInformationsActivity" />
        <activity android:name=".bugzilla.ui.ListBugzillaActivity" />

        <!-- Declare dedicated receivers to catch events from other applications -->
        <receiver android:name=".receivers.KratosSessionInfoReceiver" >
            <intent-filter >
                <action android:name="intel.intent.action.kratos.SESSION_INFO" />
            </intent-filter>
        </receiver>

    </application>
</manifest>