<?xml version="1.0" encoding="utf-8"?>
<!-- INTEL CONFIDENTIAL
     Copyright 2015 Intel Corporation

     The source code contained or described herein and all documents
     related to the source code ("Material") are owned by Intel
     Corporation or its suppliers or licensors. Title to the Material
     remains with Intel Corporation or its suppliers and
     licensors. The Material contains trade secrets and proprietary
     and confidential information of Intel or its suppliers and
     licensors. The Material is protected by worldwide copyright and
     trade secret laws and treaty provisions. No part of the Material
     may be used, copied, reproduced, modified, published, uploaded,
     posted, transmitted, distributed, or disclosed in any way without
     Intel's prior express written permission.

     No license under any patent, copyright, trade secret or other
     intellectual property right is granted to or conferred upon you
     by disclosure or delivery of the Materials, either expressly, by
     implication, inducement, estoppel or otherwise. Any license under
     such intellectual property rights must be express and approved by
     Intel in writing.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.intel.crashreport"
	android:sharedUserId="android.uid.system">
	<!-- GCM requires Android SDK version 2.2 (API level 8) or above. -->
    <!-- The targetSdkVersion is optional, but it's always a good practice
         to target higher versions. -->
    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="23"/>

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!--
     Creates a custom permission so only this app can receive its messages.

     NOTE: the permission *must* be called PACKAGE.permission.C2D_MESSAGE,
           where PACKAGE is the application's package name.
    -->
    <permission
        android:name="com.intel.crashreport.specific.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="com.intel.crashreport.specific.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE" />


	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
	<uses-permission android:name="android.permission.CHANGE_CONFIGURATION"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

	<protected-broadcast android:name="com.intel.crashreport.askForUpload" />
	<protected-broadcast android:name="com.intel.crashreport.updateLogTextView" />
	<protected-broadcast android:name="com.intel.crashreport.uploadStarted" />
	<protected-broadcast android:name="com.intel.crashreport.uploadFinished" />
	<protected-broadcast android:name="com.intel.crashreport.uploadProgressBarView" />
	<protected-broadcast android:name="com.intel.crashreport.showProgressBarView" />
	<protected-broadcast android:name="com.intel.crashreport.hideProgressBarView" />
	<protected-broadcast android:name="com.intel.crashreport.unbindActivity" />
	<protected-broadcast android:name="com.intel.crashreport.intent.CRASH_NOTIFY" />
	<protected-broadcast android:name="com.intel.crashreport.intent.CRASH_LOGS_COPY_FINISHED" />
	<protected-broadcast android:name="com.intel.crashreport.database_changed" />

	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:versionName="@string/app_version"
		android:name=".CrashReport"
		android:enabled="true"
		android:theme="@style/CrashReportAppTheme">

		<activity
			android:name=".specific.CrashReportActivity"
			android:label="@string/label"
			android:parentActivityName=".specific.CrashReportHome" />

		<activity
			android:name=".specific.DeviceInfoActivity"
			android:label="@string/label"
			android:parentActivityName=".specific.CrashReportHome" />

		<activity
			android:name=".specific.CrashReportHome"
			android:label="@string/label"
			android:launchMode="singleTask" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<receiver
			android:name="com.intel.crashreport.specific.NotificationReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.DROPBOX_ENTRY_ADDED" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.intel.crashreport.intent.CRASH_LOGS_COPY_FINISHED" />
				<category android:name="android.intent.category.ALTERNATIVE" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE"></action>
			</intent-filter>
			<intent-filter>
				<action android:name="com.intel.crashreport.intent.ALARM_NOTIFY" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.intel.crashreport.intent.CRASH_NOTIFY" />
				<category android:name="android.intent.category.ALTERNATIVE" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.intel.crashreport.intent.RELAUNCH_SERVICE" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.intel.crashreport.intent.START_CRASHREPORT" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.intel.crashreport.intent.MARK_AS_READ" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.DEVICE_STORAGE_LOW" />
			</intent-filter>
		</receiver>

		<receiver
			android:name=".NetworkStateReceiver" android:enabled="false">
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE"></action>
			</intent-filter>
		</receiver>

		<receiver
            android:name="com.intel.crashreport.specific.SpecificBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.intel.crashreport.specific" />
            </intent-filter>
        </receiver>
             <!--
          Application-specific subclass of GCMBaseIntentService that will
          handle received messages.

          By default, it must be named .GCMIntentService, unless the
          application uses a custom BroadcastReceiver that redefines its name.
        -->
        <service android:name="com.intel.crashreport.specific.GCMIntentService" />

        <service android:name="com.intel.crashreport.specific.UpdateEventService" />

		<service android:name=".CrashReportService"/>

		<service android:name=".specific.PhoneInspectorService"/>

		<activity android:name="StartServiceActivity"
		    android:launchMode="singleTop"
			android:parentActivityName=".specific.CrashReportHome" >
			<intent-filter>
				<action android:name="com.intel.crashreport.intent.START_SERVICE"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>

		<service android:name="com.intel.crashreport.specific.CheckEventsService"/>

		<activity android:name="NotifyEventActivity"/>

		<!-- LogConfig -->
		<activity android:name=".logconfig.ui.LogConfigHomeActivity"
				  android:parentActivityName=".specific.CrashReportHome" />

		<activity android:name=".logconfig.ui.LogConfigDisplaySettingsActivity"/>

		<receiver android:name=".logconfig.BootConfigServiceReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		<service android:name=".logconfig.BootConfigService" />
		<service android:name=".logconfig.ConfigService" />


        <activity android:name=".bugzilla.ui.common.BugzillaMainActivity"
				  android:parentActivityName=".specific.CrashReportHome" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="image/bmp" />
                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/gif" />
                <data android:mimeType="image/png" />
            </intent-filter>
        </activity>
        <activity android:name=".bugzilla.ui.common.BugzillaSummaryActivity"
				  android:parentActivityName=".specific.CrashReportHome" />

        <activity android:name=".bugzilla.ui.common.UserInformationsActivity"
				  android:parentActivityName=".specific.CrashReportHome" />

        <activity android:name=".bugzilla.ui.common.ListBugzillaActivity"
				  android:parentActivityName=".specific.CrashReportHome" />

        <activity android:name=".specific.UploadAplogActivity"
				  android:parentActivityName=".specific.CrashReportHome" />

        <activity
            android:name=".DisclaimerActivity"
            android:label="@string/app_name" >

            <!-- Priority set lower than Google Wizard, so that the prompt would appear after it -->
            <intent-filter android:priority="4">
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.DEVICE_INITIALIZATION_WIZARD" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Declare dedicated receivers to catch events from other applications -->
        <receiver android:name=".receivers.KratosSessionInfoReceiver" >
            <intent-filter >
                <action android:name="intel.intent.action.kratos.SESSION_INFO" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.InfoErrorEventReceiver" >
            <intent-filter >
                <action android:name="intel.intent.action.phonedoctor.REPORT_INFO" />
                <action android:name="intel.intent.action.phonedoctor.REPORT_ERROR" />
                <action android:name="intel.intent.action.phonedoctor.REPORT_STATS" />
            </intent-filter>
        </receiver>

        <service android:name=".receivers.EventReceiverService" />

        <activity android:name="com.intel.crashreport.specific.ListGcmMessagesActivity"
		    android:launchMode="singleTop"
			android:parentActivityName=".specific.CrashReportHome" />

    </application>
</manifest>
