on post-fs-data
    start internal_props

on charger
    mount ext4 /dev/block/by-name/config /config nosuid nodev barrier=1,data=ordered

on property:ro.boot.mode=charger
    start internal_props

service internal_props /system/bin/sh /internal_props.sh
    disabled
    oneshot

on property:autotest.adb.enable=1
    setprop persist.sys.usb.config iadb
